:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-red-100: #fff9fa;
  --color-red-200: #fbe4e7;
  --color-red-400: #e96779;
  --color-red-600: #d12e41;
  --color-red-800: #bd2837;
  --color-red-900: #980716;

  --color-yellow-100: #fff4dd;
  --color-yellow-200: #f3d9a5;
  --color-yellow-400: #ebbd61;
  --color-yellow-600: #cb911a;
  --color-yellow-800: #886011;
  --color-yellow-900: #5a400c;

  --color-green-100: #f0fbf7;
  --color-green-200: #caf1e3;
  --color-green-400: #90d9bf;
  --color-green-600: #66b599;
  --color-green-800: #48a987;
  --color-green-900: #1a805e;

  --color-dark-blue-100: #f7f7fc;
  --color-dark-blue-200: #eff0f6;
  --color-dark-blue-300: #d9dbe9;
  --color-dark-blue-400: #a0a3bd;
  --color-dark-blue-500: #6e7191;
  --color-dark-blue-600: #515478;
  --color-dark-blue-800: #4e4b66;
  --color-dark-blue-900: #14142a;

  --color-black-100: #f7f7f7;
  --color-black-200: #e5e5e5;
  --color-black-300: #cccccc;
  --color-black-400: #a6a6a6;
  --color-black-500: #666666;
  --color-black-600: #4d4d4d;
  --color-black-800: #3e3f41;
  --color-black-900: #252627;

  --color-primary-100: #fbf1eb;
  --color-primary-200: #ffd4b8;
  --color-primary-400: #ffbb8f;
  --color-primary-600: #ff9652;
  --color-primary-800: #ff6400;
  --color-primary-900: #d15200;

  --color-secondary-100: #f5f8ff;
  --color-secondary-200: #dbe2f9;
  --color-secondary-400: #98aded;
  --color-secondary-600: #5f7fdf;
  --color-secondary-800: #3b5fca;
  --color-secondary-900: #1e3fa1;
}
